<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISM - Employee Add</title>
</head>
<body>
    <h2>Employee Add</h2>
    <form action="/employees/add" method="POST">
    <label for="employee_username">Username:</label><br>
        <input type="text" id="employee_username" name="employee_username" placeholder="Username"><br>
    <label for="password">Password:</label><br>
        <input type="password" id="employee_password" name="employee_password" placeholder="Password"><br>
    <label for="employee_first_name">First Name:</label><br>
        <input type="text" id="employee_first_name" name="employee_first_name" placeholder="Fist Name"><br>
    <label for="employee_last_name">Last Name:</label><br>
        <input type="text" id="employee_last_name" name="employee_last_name" placeholder="Last Name"><br>
    <label for="role">Role:</label><br>
        <select id="employee_role_id" name="employee_role_id">
            <option disabled selected>Select</option>
            <% data.forEach(res =>{%>
                    <option value="<%= res.id %>"><%= res.role_name %></option>
            <% }) %>     
        </select><br>
    <input type="submit" value="Submit">
    </form> 
    <p><a href="/employeee">Back to List Employee</a></p>
</body>
</html>